<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h5 class="card-title">Sign In</h5>
            <form>
              <div class="form-group">
                <label for="usernameOrEmail">Username or Email</label>
                <input
                  type="text"
                  id="usernameOrEmail"
                  class="form-control"
                  name="usernameOrEmail"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
