<table class="table">
    <thead class="thead-dark">
        <tr>
            <td>
                Images
            </td>
            <td>
                Name
            </td>
            <td>
                Price
            </td>
            <td>
                Unit In Stock
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td><img src="{{tempProduct.imageUrl}}" height="50"/></td>
            <td>{{tempProduct.name}}</td>
            <td>{{tempProduct.unitPrice | currency:'USD'}}</td>
            <td>{{tempProduct.unitsInStock}}</td>

        </tr>
    </tbody>
</table>
